*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  padding: 12px 16px;
  font-size: 16px;
  color: #ffffff;
  background-color:#469165;
  border: none;
  border-radius: 5px;
}

/* header-style */
 nav {
    background-color: #FFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 34px;
}
nav .log{
  width: 140px;
  height: auto;
}
nav .menu{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 32px;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: #000000;
}
