*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  padding: 12px 16px;
  font-size: 16px;
  color: #ffffff;
  background-color:#469165;
  border: none;
  border-radius: 5px;
}

/* header-style */
 nav {
    background-color: #FFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 34px;
}
nav .log{
  width: 140px;
  height: auto;
}
nav .menu{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 32px;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: #000000;
}
/* banner-section */
#banner{
  text-align: center; 
  background:url("../image/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:674px;
  padding:115px 120px 179px 120px;

}
#banner .banner-content button{
  padding: 10px 12px 10px 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}
#banner .banner-content button p{
  font-size: 16px;
  font-weight: 500px;
  color: #469165;
}
#banner .banner-content button p i{
  color: #469165;
  margin-right: 10px;
}
#banner .banner-heading h1{
    font-size: 72px;
    font-weight: 700px;
    color:#FFFFFF;
}
#banner .banner-heading h2{
  font-size: 79px;
  font-weight: 600px;
  color: #30B868;
  margin-bottom: 16px;
}
#banner .banner-heading  p{
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.bt{
  background-color: transparent;
  padding: 16px 12px;
  border: 1px solid white;
  font-size: 16px;
  font-weight: 600px;
  color: #FFFFFF;
  border-radius: 5px;
  margin-left: 10px;
}
/* card-heading */
#card-section{
  margin: 0 120px;
  padding-top: 70px;
  text-align: center;
  background-color:#FFFFFF;
}
#card-section .card-heading  h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
#card-section .card-heading p{
  font-size: 16px;
  color: #627382;
  margin-bottom: 44px;
}
#card-section .card-content{
  display: flex;
  justify-content: space-around;
  gap: 24px;
  
  
}
#card-section .card-content .card{
  padding: 80px 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); ;
}
#card-section .card-content .card img{
  background-color: #F95555;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 16px;
}
#card-section .card-content .card h3{
      font-size: 24px;
      font-weight: 500px;
      color: #001931;
      margin-bottom: 16px;
}
#card-section .card-content .card p{
  font-size: 16px;
  color: #627382;
}
/* soulti-style */
#solution{
  display: flex;
  margin: 120px;
  gap: 60px;
}
#solution .solution-content{
  padding: 102px 0;
  justify-content: space-between;
}
#solution .solution-content p{
  font-size: 16px;
  font-weight: 500px;
  color: #469165;
  margin-bottom: 16px;
}
#solution .solution-content h2{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
#solution .solution-content .text{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
#solution .solution-content .img-icon p{
  font-size: 16px;
  color:#001931;
  line-height: 20px;
}
#solution .solution-content .img-icon p i{
  color: #30B868;
}